<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    {% block head_style %}
    {% stylesheets filter='less,cssembed,cssrewrite,?yui_css' output='css/screen.css'
        '@ManhattanPublicBundle/Resources/public/css/normalize.css'
        '@ManhattanPublicBundle/Resources/public/css/buttons.css'
        '@ManhattanPublicBundle/Resources/public/css/forms.css'
        '@ManhattanPublicBundle/Resources/public/css/grids.css'
        '@ManhattanPublicBundle/Resources/public/css/menus.css'
        '@ManhattanPublicBundle/Resources/public/css/tables.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
    {% endblock head_style %}

    <title>{% block page_title %}{% endblock %}</title>

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1.0" />
    <meta name="handheldfriendly" content="true" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="title" content="{% block meta_title %}meta title{% endblock %}" />
    <meta name="keywords" content="{% block meta_keywords %}keywords{% endblock %}" />
    <meta name="description" content="{% block meta_description %}meta description{% endblock %}" />
    <link rel="canonical" href="{% block canonical %}{% endblock %}" />
    <meta name="generator" content="Symfony2" />
    <meta name="rating" content="General" />
    {% block rss_feed %}{% endblock %}

    <link rel="shortcut icon" href="{{ asset('/favicon.ico') }}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{ asset('/apple-touch-icon.png') }}" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('/apple-touch-icon-57x57.png') }}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('/apple-touch-icon-72x72.png') }}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('/apple-touch-icon-114x114.png') }}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('/apple-touch-icon-144x144.png') }}" />

    <meta property="og:title" content="{{ block('page_title') }}" />
    <meta property="og:type" content="{% block og_type %}website{% endblock %}" />
    <meta property="og:url" content="{{ block('canonical') }}" />
    <meta property="og:image" content="{% block og_image %}{% endblock %}" />
    <meta property="og:site_name" content="{% block site_name %}{% endblock %}" />
    <meta property="og:description" content="{% block og_content %}{{ block('meta_description') }}{% endblock %}" />

    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block analytics %} {{ analytics() }} {% endblock %}

</head>
<body>

<div class="content {% block container_role %}page{% endblock %}">
    {% block navigation %}
    <div class="header">
        <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal sub">
            <a class="pure-menu-heading" href="">Your Site</a>

            <ul>
                <li class="pure-menu-selected"><a href="#">Home</a></li>
                <li><a href="#">Tour</a></li>
                <li><a href="#">API</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </div>
    {% endblock navigation %}

    {% block container %}
    {% block splash %}
    <div class="splash">
        <div class="pure-g-r sub">
            <div class="pure-u-1-3">
                <div class="l-box splash-image">
                    <img src="http://placehold.it/500x350" alt="Placeholder image for example." />
                </div>
            </div>

            <div class="pure-u-2-3">
                <div class="l-box splash-text">
                    <h1 class="splash-head">
                        Some big bold text.
                    </h1>

                    <h2 class="splash-subhead">
                        The HTML and CSS for this layout show how you can make a modern, responsive landing page for your next product. Browse through the source to see how we use menus and responsive grids to create this layout. Shrink your browser width and watch the layout transform and play nice with small screens.
                    </h2>

                    <p>
                        <a href="#" class="pure-button primary-button">Get Started</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endblock splash %}
    {% block content %}
    <div class="content">
        <div class="pure-g-r content-ribbon sub">
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">Some small text</h4>

                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p>
                        Pellentesque hendrerit lobortis ornare. Fusce luctus imperdiet consequat. Nullam quis nunc quis ligula luctus vestibulum non quis libero. Suspendisse tristique nisl ut velit facilisis sit amet lobortis nulla pharetra.
                    </p>
                </div>
            </div>

            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="http://placehold.it/400x250"
                         alt="Placeholder image for example.">
                </div>
            </div>
        </div>

        <div class="pure-g-r content-ribbon sub">
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="http://placehold.it/400x250"
                         alt="Placeholder image for example.">
                </div>
            </div>

            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">Some more small text</h4>

                    <h3>Etiam iaculis iaculis lobortis.</h3>
                    <p>
                        Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum. Morbi fermentum dui sit amet libero tincidunt rutrum. Nam sodales consequat metus sed accumsan.
                    </p>
                </div>
            </div>
        </div>

        <div class="pure-g-r sub">
            <div class="pure-u-1-4">
                <div class="l-box">
                    <h3>Subheading</h3>
                    <p>
                        Donec suscipit, risus vel venenatis ornare, nibh massa ultrices diam, a elementum metus felis sit amet eros. Phasellus pellentesque euismod massa sed pellentesque.
                    </p>
                </div>
            </div>

            <div class="pure-u-1-4">
                <div class="l-box">
                    <h3>Subheading</h3>
                    <p>
                        Donec suscipit, risus vel venenatis ornare, nibh massa ultrices diam, a elementum metus felis sit amet eros. Phasellus pellentesque euismod massa sed pellentesque.
                    </p>
                </div>
            </div>

            <div class="pure-u-1-4">
                <div class="l-box">
                    <h3>Subheading</h3>
                    <p>
                        Donec suscipit, risus vel venenatis ornare, nibh massa ultrices diam, a elementum metus felis sit amet eros. Phasellus pellentesque euismod massa sed pellentesque.
                    </p>
                </div>
            </div>

            <div class="pure-u-1-4">
                <div class="l-box">
                    <h3>Subheading</h3>
                    <p>
                        Donec suscipit, risus vel venenatis ornare, nibh massa ultrices diam, a elementum metus felis sit amet eros. Phasellus pellentesque euismod massa sed pellentesque.
                    </p>
                </div>
            </div>
        </div>

        <div class="l-box ribbon sub">
            <h2>Get started now.</h2>
            <a href="#" class="pure-button primary-button">Sign up</a>
        </div>
    </div>
    {% endblock content %}
    {% endblock container %}

    {% block footer %}
    <div class="footer sub">
        View the source of this layout to learn more. Made with love by the YUI Team.
    </div>
    {% endblock footer %}
    {% block foot_script %}

    {% endblock foot_script %}
</div>

</body>
</html>
